



.chat-box{

    /* margin: 300px; */
    /* background-color: beige;
    border-radius: 5px;
    display: grid;
    grid-column: 3; */
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    height: 800px;
    width: 600px;
    max-height: 90%;
}


.chat-message-area{
    border-radius: 5px;
    padding: 20px;
    background-color: aliceblue;
    grid-column-start: 1;
    grid-column-end: 3;
}

.input-bar{
    border-radius: 5px;
    grid-row: 2;
}

.user-input{
    
    background-color: bisque;
}

