.user-message{
    margin-left: 35rem;
    background-color: #50DBB4;
    border-radius: 15px;
    width: 20rem;
    padding-left : 15px;
    padding-right: 15px;
    padding-bottom: 2px;
}

.user-message-header{
    text-transform: capitalize;
}