.nav-header{
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    padding-top: 20px;
}

.company-name{
    font-size: larger;
    color:rgb(0, 0, 0);
    font-weight: 900;
}